body {
    background-color: rgb(235, 235, 235);
    padding: 0;
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    background-color: rgb(66, 63, 63);
    width: 100vw;
    height: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    align-items: center;
}

h3 {
    display: flex;
    width: 70vw;
    justify-content: center;
    font-size: 30px;
    margin: 0 auto;
}

p {
    display: flex;
    width: 70vw;
    font-size: 20px;
    margin: 0 auto;
}

#errors {
    color: red;
}

#board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 450px;
    height: 450px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
}

#solutionNums {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 50px;
    margin: 0 auto;
    padding: 1rem;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}