body {
    background-color: rgb(204, 204, 204);
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    background-color: rgb(66, 63, 63);
    width: 100vw;
    height: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    align-items: center;
}